.rating-list li {
  float: right;
  color: grey;
}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}


.ratingList li {
  float: right;
  color: #ffd700;
}
.ratingList {
  display: inline-block;
  list-style: none;
}

#comment {
  color: black;
}
