<app-navbar></app-navbar>
<h2 id="title">Add new product</h2>
<div style="padding: 5px"></div>
<div class="container">
    <form [formGroup]="formProducts" (ngSubmit)="onSubmit()">
  <div class="row" >
      <div class="col-sm-6 col-md-6" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" formControlName="name" required >
          </div>
      </div>
      <div class="col-sm-4 col-md-4">
          <div class="form-group">
            <input type="text"  class="form-control" placeholder="Price" formControlName="price" required>
          </div>
      </div>
      <div class="col-sm-12 col-md-12" >
           <div class="form-group">
              <textarea class="form-control"  placeholder="Description" rows="5" formControlName="description" ></textarea>
           </div>
       </div>
       <div class="col-sm-12 col-md-12">
            <div class="form-check">
              <input type="checkbox"  class="form-check-input" checked="true" formControlName="isNewProduct">
                New product
            </div>
       </div>
       <div class="col-sm-12 col-md-12">
           <div class="form-check">
              <input type="checkbox"  class="form-check-input" checked="true" formControlName="promotionalProduct">
              Promontial product
            </div>
      </div>
      <div class="col-sm-6 col-md-6" >
          <div class="form-group" id="selectCategory">
                <label for="exampleSelect1">Select category</label>
                <select class="form-control" id="exampleSelect1" formControlName="categoryId" >
                  <option *ngFor="let categories of categoriesList" [value]="categories.Id">{{categories.Name}}</option>
                </select>
          </div>
      </div>
      <div class="col-sm-6 col-md-6"></div>
      <div class="col-sm-6 col-md-6">
          <div class="form-group" id="selectImage" >
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file"  #Image accept="image/*"(change)="uploadImage($event.target.files)"   class="custom-file-input" id="inputGroupFile02" formControlName="image">
                  <label class="custom-file-label" for="inputGroupFile02" >Select image</label>
                </div>
              </div>
            </div>
      </div>
      <div class="col-sm-6">
          <div>
              <img *ngFor="let img of images" [src]="img" class="img-responsive" style="max-width:150px;max-height:150px">
            </div>
      </div>
          <div class="col-sm-12 col-md-12" >
          <button class="btn btn-primary" [disabled]="formProducts.invalid || !formProducts.get('image').valid" type="submit">Submit</button>
          </div>
        </div>
      </form>
</div>
