.filters{

  padding: 20px;
  width: 100%;

  background-color: white;
  border: none;
  position: relative;
}
.fake-checkbox{
  position: relative;
}
h5{
  text-transform: uppercase;
  color: #bababa;
  font-size: 0.8em;
  font-weight: 600;
}
