select {
  background-color: #F0F8FF;
}
#title {
  text-align: center;
  padding-bottom: 35px;
}
#orderNavbar {
  height: 50px;
  background-color: #F0F8FF;
}
#dateCreated {
  text-align:left;
}
#orderNew {
  color: blue;
}
#orderInProgress {
  color: #2ff1ff;
}
#orderCompleted {

  color: green;
}
#totalCost {
  text-align: right;
  color: red;
  width:40%;
}
#image {
  max-width:150px;
  max-height:150px;
  padding-top:10px;
  padding-right:50px;
}
